* { 
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html, 
body {
    min-height: 100vh;
    /* background-color: #c6e5d9; */
    color:#393c3f;
    background-image: url("/images/oldbck.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 30px;
    color: #e94e77;
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
}

p {
    margin: 10px 0;
}

.playerName {
    float: left;
    padding-left: 10%;
    max-width: 10ch;
    overflow: hidden;
    overflow: calc(70% - 0);
}

.qtdWinner {
    float: right;
    padding-right: 10%;
}

.ganhadores {
    background-color: #ff4e44;
    border-color: #282634;

}

.g1 {
    border: 1px solid #282634;
    border-radius: 10px;
    float: left;
    width: 40%;
    background-color: aliceblue;
}

.g2 {
    border: 1px solid #282634;
    border-radius: 10px;
    float: right;
    width: 40%;
    background-color: aliceblue;
}

.msg {
    height: 100px;
    padding-top: 15%;
}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 6px;
    background-color: rgb(255, 255, 255, 0.7);
    background-image: url('/images/bg_jogo_da_velha.png');
}

.board button {
    border: 0;
    background-color: transparent;
    padding: 10px;
    height: 96px;
    width: 96px;
    font-size: 58px;
    outline: none;
}

.board button.cellX {
    color: #ff4e44
}

.board button.cellO {
    color: #282634
}

.register {
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.register input {
    width: 350px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
}

button.btn {
    width: 350px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #e94e77;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
}
